RewriteEngine On
RewriteBase /Clap/

# Rediriger la racine vers /Accueil sans changer l’URL
RewriteRule ^$ index.php?page=Accueil [L]

# Ne pas réécrire les fichiers et dossiers réels
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Réécriture propre vers index.php?page=...
RewriteRule ^(.+)$ index.php?page=$1 [QSA,L]