@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Questrial&family=Recursive:wght@300..1000&display=swap');

h1, h2, h3, h4, h5, h6{
    font-family: 'Lexend';
    width: 100%;
}
p{
  font-family: 'Questrial';
  width: 100%;
}
.navbar-nav .nav-link {
  font-family: 'Lexend';
  font-size: 18px;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.card{
  min-height: 414px;
}

.card-body{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  background-color:#2B3035;
  align-content: center;
  padding: 15px !important;
  font-weight: 150;
  font-size: 17px;
}

.card-title{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 500;
  font-size: 18px;
}

.card-note {
  font-weight: 75;
  font-size: 15px;
}

nav{
  z-index : 9999;
}

#details{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 50;
  background-color: #383838;
  color: white;
  border-radius: 2%;
}

/* a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
} */
/* 
body {

} */

/* h1 {
  font-size: 3.2em;
  line-height: 1.1;
} */

/* #app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

/* button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */


