@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Questrial&family=Recursive:wght@300..1000&display=swap');

/*
THEMES */
.theme-light{
  --fill: white;
  --primary: #2B3035;
  --secondary: #ffc107;
  --text: black;
}

.theme-dark{
  --fill: #212429;
  --primary: #2A2D32;
  --secondary: #ffc107;
  --text: white;
}

html.theme-light body{
  background-color: var(--fill);
  color: var(--text);
}
/* html.theme-dark body{
  background-color: var(--fill);
  color: var(--text);
} */

/* html.theme-light button{
  background-color: var(--primary);
}
html.theme-dark button{
  background-color: var(--primary);
} */

/* Style pour le switch */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  border-radius: 50%;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:checked + .slider:before {
  transform: translateX(26px);
}





h1, h2, h3, h4{
    font-family: 'Lexend';
    width: 100%;
}
p, a, h5, h6{
  font-family: 'Questrial';
  width: 100%;
}
.navbar-nav .nav-link {
  font-family: 'Lexend';
  font-size: 18px;
}



@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.c-b{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  background-color:var(--primary);
  align-content: center;
  padding-top: 15px !important;
  padding-bottom: 15px !important;
  padding-left: 20px !important;
  padding-right: 20px !important;
  font-weight: 150;
  font-size: 17px;
}

.card-title{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 500;
  font-size: 18px;
}

.card-note {
  font-weight: 75;
  font-size: 15px;
}

.card {
  height: 100% !important;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card img {
  width: 100%;
  height: 75%;
  object-fit: cover;
}





nav{
  z-index : 9999;
}

#details{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 50;
  background-color: var(--primary);
  color: white;
  border-radius: 2%;
}

.selected{
  background-color: #ffc107 !important;
  color:var(--primary) !important;
  border:none !important;
  height: 38px;
}

.btn-custom {
  background-color: var(--primary);
  border-color: var(--primary);
}

.btn-custom:hover {
  background-color: #4e4e4e;
  border-color: #23272b;
}
#resetFilterContainer {
  position: relative;
  cursor: pointer;
}

#resetFilter {
  transition: all 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 0px; */
  margin-left: 2%;
  height: 35px;
  width: 35px;
  text-align: center;
  border-radius: 10px;
}

#resetFilter:hover {
  background-color: #e4e4e4;
  transform: scale(1.1);
}

#resetFilterText {
  display: none;
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translateY(-50%);
  margin-left: 8px;
  background-color: #f0f0f0;
  padding: 5px 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  font-size: 14px;
  white-space: nowrap;
}

#resetFilter:hover + #resetFilterText {
  display: block;
}

#cross{
  cursor: pointer;
}


/* Blog */
.object-cover {
  object-fit: cover;
}

.collage-img-small {
  height: calc(50% - 5px);
  object-fit: cover;
}

/* Si tu veux une hauteur fixe propre */
@media (min-width: 768px) {
  .row.g-2 {
    height: 400px; /* Ajuste selon ton goût */
  }
}

.hover-zoom{
  transition: 0.3s ease-in-out;
}

.hover-zoom:hover {
  transform: scale(1.05);
}

.categorie{
  color:#838383;
  font-style: italic;
  margin-bottom: 0;
}

/* Blog */
.blog-card .blog-description {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: height 0.3s ease, opacity 0.3s ease;
  opacity: 0.8;
  margin-bottom: 3% !important;
}

.blog-card{
  padding: 5px;
  border-radius: 2%;
  transition: 0.15s ease-in-out;
  position: relative;
  overflow: hidden; /* évite les débordements de texte animé */
}
.blog-card img {
  max-height: 250px;
  object-fit: cover;
}

.blog-card:hover{
  background-color: #f7f7f7;
  transform: scale(1.02);
  cursor: pointer;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
}

.blog-card:hover .blog-description {
  opacity: 1;                         /* Rend la description complètement opaque */
  white-space: normal;                /* Permet le retour à la ligne */
}

.blog-card-petit img {
  max-height: 90px;
  object-fit: cover;
}

.blog-card-petit{
  padding: 5px;
  border-radius: 2%;
  transition: 0.15s ease-in-out;
  display: flex;
  margin-bottom: 3%;
  position: relative;
  overflow: hidden;
}

.blog-card-petit:last-child{
  margin-bottom: 0;
}


.blog-card-petit:hover{
  background-color: #f3f3f3;
  transform: scale(1.02);
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}



/* Mouvement de texte */
.little-title-container {
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  height: 2.5em; /* fixe la hauteur du titre pour éviter qu'il pousse les éléments */
  margin-top: 2%;
}

.big-title-container {
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  height: 1.8em; /* fixe la hauteur du titre pour éviter qu'il pousse les éléments */
  margin-top: 2%;
}

/* Mouvement de texte Blog petit titre */
.little-card-title {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 500;
  font-size: 18px;
  max-width: 100%;
  transform: translateX(0);
  transition: transform 0.3s ease;
}
.blog-card-petit:hover .little-card-title {
  animation: scroll-title 8s linear forwards;
  overflow: visible;
  text-overflow: unset;
}

/* Mouvement de texte Blog grand titre */
.big-card-title{
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 500;
  font-size: 120%;
  max-width: 100%;
  transform: translateX(0);
  transition: transform 0.3s ease;
}

.blog-card:hover .big-card-title {
  animation: scroll-title 8s linear forwards;
  overflow: visible;
  text-overflow: unset;
}


/* Keyframes */
@keyframes scroll-title {
  0% {
    transform: translateX(0);
  }
  10% {
    transform: translateX(0); /* Pause pendant 2s (25% de 8s = 2s) */
  }
  100% {
    transform: translateX(-100%);
  }
}

.datePublication{
  font-style: italic;
  font-size: 90%;
}